<div ng-controller="menuCtrl" layout="column" layout-fill>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 md-primary" md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')" layout-fill>
        <md-list>
            <a href="/"><img src="static/images/logo.png" md-ink-ripple></a>
            <md-item class="md-left-menu-item">
                <a href="/settings">
                    <md-item-content class="md-left-menu-item-content" layout="row" layout-align="start center" md-ink-ripple>
                        <div class="inset" flex="20">
                            <img src="../static/images/icons/settings.png">
                        </div>
                        <div class="inset" flex="80">settings
                        </div>
                    </md-item-content>
                </a>
            </md-item>
            <md-item class="md-left-menu-item">
                <a href="/account">
                    <md-item-content class="md-left-menu-item-content" layout="row" layout-align="start center" md-ink-ripple>
                        <div class="inset" flex="20">
                            <img src="../static/images/icons/account.png">
                        </div>
                        <div class="inset" flex="80">account
                        </div>
                    </md-item-content>
                </a>
            </md-item>
        </md-list>
    </md-sidenav>
</div>