a:hover {
    text-decoration: none;
}
.site-header {
    background: #00A6CA none repeat scroll 0 0;
    /*padding: 10px;*/
}
.logo img {
    width: 100%;
}
md-item-content img {
    height: 35px;
    width: 35px;
}
md-item-content {
    border-bottom: 1px solid;
    color: #ffffff;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 0;
}
md-sidenav {
    background: #00a6ca none repeat scroll 0 0;
}